/* GERAL */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.logo-prefeitura {
    width: 10%;
    margin-left: 60px;
}
/* SECTION MAIN REPORTS */

.main-reports {
   margin: 0 auto;
   max-width: 1080px; 
   min-height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-bottom: 1px solid silver;
}

.main-reports__title, .search__title {
    font-family: 'Staatliches', cursive;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 100px;

}

.main-reports__subtitle {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}


.reports-buttons {
    text-decoration: none;
}

.main-reports__btn {
    text-decoration: none;
    background-color: #df0700;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 15px 20px;
    margin-right: 10px;
    color: white;
    border-radius: 25px;
}

.trigger {
    border: 2px solid black;
}

.search {
    margin: 0 auto;
    max-width: 1080px; 
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* MODAL */


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 3rem 1.5rem;
    width: 37rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


